// Colors
$c-grey: #555;
$c-grey--dark: #333;
$c-grey--light: #777;
$c-grey--lightest: #efefef;

$c-red: #952525;
$c-green: #0e5000;
$c-blue: #081e72;

$-text: $c-grey--dark;
$c-cta: $c-red;
$c-cta--secondary: $c-green;

// fonts
$f-size--default: 1.6rem;

//// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,800;1,100;1,300;1,600;1,800&display=swap');

//// Font Families
$ff--montserrat: 'Montserrat', sans-serif;

// Grid variables
$g-width: 114rem;
$g-gutter--vertical: 8rem;
$g-gutter--horizontal: 6rem;
