.row {
    max-width: $g-width;
    background-color: $c-grey--lightest;
    margin: 0 auto;
    @include clearfix;

    &:not(:last-child) {
        margin-bottom: $g-gutter--vertical;
    }

    [class^="col-"] {
        background-color: $c-red;
        color: #fff;
        float: left;
        width: 100%;

        &:not(:last-child) {
            margin-right: $g-gutter--horizontal;
            margin-bottom: $g-gutter--vertical;
        }
    }
    .col- {

        &1-2 {
            @include respond('tab-port') {
                width: column-width(1, 2);
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }

        &1-3 {
            @include respond(tab-port) {
                width: column-width(1, 3);
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }

        &2-3 {
            @include respond(tab-port) {
                width: column-width(2, 3);
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }

        &1-4 {
            @include respond(tab-port) {
                width: column-width(1, 2);
                &:nth-child(2) {
                    margin-right: 0;
                }
            }

            @include respond(tab-land) {
                width: column-width(1, 4);
            }
        }

        &2-4 {
        }

        &3-4 {
            @include respond(tab-land) {
                width: column-width(3, 4);
            }
        }

        &1-5 {
            @include respond(tab-land) {
                &:not(:last-child) {
                    width: column-width(1, 4);
                }
            }
        }

        &2-5 {
            width: column-width(2, 5);
        }

        &3-5 {
            width: column-width(3, 5);
        }

        &4-5 {
            width: column-width(4, 5);
        }
    }
}